body {
  background-color: #8e9dc7;
  font-family: "Quicksand", sans-serif;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 20px;
  padding: 45px 50px;
  border-radius: 25px;
}
.search-form-input {
  border: none;
  background-color: #f5ebe0;
  padding: 15px 20px;
  width: 80%;
  font-size: medium;
  border-radius: 10px;
}
.search-form-button {
  background-color: #f2b183;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  font-size: medium;
  color: white;
}
